.main-header {
  background: #fff !important;
  padding: 0 !important;
  z-index: 100;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 16px;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #1890ff;
    }
  }

  .user-name {
    margin-right: 10px;
  }

  .headerMenu {
    line-height: 64px;
    height: 64px;
    border-bottom: none;

    li {
      border-bottom: none !important;
    }
  }
}
